<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
    <body>
        <% if (theme.theme.loading){ %>
            <div class="cloading">
                <noscript>
                    <div class="note note-danger">
                        <div class="title"><%- __('nojs.title') %></div>
                        <%- __('nojs.text') %>
                    </div>
                    <style>
                        .cloading .loading{
                            display: none;
                        }
                    </style>
                </noscript>
                <div class="loading">
                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                </div>
            </div>
        <% } %>
        <header>
            <%- partial('_partial/nav') %>
        </header>
        <div id="page-main" class="main-content">
        <div class="mg-top">
            <%- body %>
        </div>
        </div>
        <%- partial('_partial/foot') %>
    </body>
</html>