<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
    <body>
        <header>
            <%- partial('_partial/nav') %>
        </header>
        <div id="page-main" class="main-content">
        <div class="mg-top">
            <%- body %>
        </div>
        </div>
        <%- partial('_partial/foot') %>
    </body>
</html>