<!DOCTYPE html>
<html lang="<%= config.language %>">
<!-- 引入页面头部文件 -->
<%- partial('_partial/head') %>

    <body>
        <header>
            <%- partial('_partial/nav') %>
        </header>
        <div id="page-main" class="main-content">

            <%- body %>

        </div>

        <!-- 引入页脚文件 -->
        <%- partial('_partial/foot') %>
    </body>

</html>