<% if (page.layout !== "404"){ %>
<footer class="text-center">
    <%- theme.custom.footer_html %>
    <% if(theme.global.web_analytics.busuanzi.enable){ %>
    <p>
        <% var pv_texts = theme.global.web_analytics.busuanzi.pv_format.split('{}') %>
        <% var uv_texts = theme.global.web_analytics.busuanzi.uv_format.split('{}') %>
        <% if (theme.global.web_analytics.busuanzi.pv_format) { %>
            <!-- 不蒜子统计PV -->
            <span id="busuanzi_container_site_pv" style="display: none">
                <%- pv_texts[0] %>
                <span id="busuanzi_value_site_pv"></span>
                <%- pv_texts[1] %>
              </span>
          <% } %>
          <% if (theme.global.web_analytics.busuanzi.uv_format) { %>
            <!-- 不蒜子统计UV -->
            <span id="busuanzi_container_site_uv" style="display: none">
                <%- uv_texts[0] %>
                <span id="busuanzi_value_site_uv"></span>
                <%- uv_texts[1] %>
              </span>
          <% } %>
     </p>
    <% } %>
    <% if (theme.beian.enable){ %>
    <p>
        <span>
            <a href="http://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">
                <%- theme.beian.icp_text %>
            </a>
        </span>
        <% if(theme.beian.police_text) { %>
            <% if(theme.beian.police_code) { %>
              <span>
                <a
                  href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=<%- theme.beian.police_code %>"
                  rel="nofollow noopener"
                  class="beian-police"
                  target="_blank"
                >
                  <% if(theme.beian.police_icon) { %>
                    <span style="visibility: hidden; width: 0">|</span>
                    <img class="police-icon" src="<%- url_for(theme.beian.police_icon) %>" alt="police-icon"/>
                  <% } %>
                  <span><%- theme.beian.police_text %></span>
                </a>
              </span>
            <% } else { %>
              <span class="beian-police">
                <% if(theme.beian.police_icon) { %>
                  <span style="visibility: hidden; width: 0">|</span>
                  <img class="police-icon" src="<%- url_for(theme.beian.police_icon) %>" alt="police-icon"/>
                <% } %>
                <span class="beian-police"><%- theme.beian.police_text %></span>
              </span>
            <% } %>
          <% } %>
    </p>
    <% } %>
    <% if (theme.hpp_time.enable) { %>
      <p id="bloggeractivetime">[ Loading ]</p>
    <% } %>
    <% if (theme.global.copyright.enable) { %>
    <p>&copy; <% if (theme.global.copyright.from_year){ %> <%- theme.global.copyright.from_year %> - <% } %><%- theme.global.copyright.to_year %>&nbsp;&nbsp;<%- theme.global.copyright.name || hexo.title %></p>
    <% } %>
    <p>Powered by <a href="https://hexo.io" target="_blank">Hexo</a> | Theme by <a href="https://github.com/oCoke/hexo-theme-miracle" target="_blank">Miracle</a></p>
    
    
</footer>
<% } %>
<div class="p-btn">
    <% if((is_post() && theme.post.toc.enable) || (is_page() && page.toc == true)){ %>
        <a class="toc-btn" id="toc-btn"><i id="i-menu"></i></a>
    <% } %>
    <% if((is_post() || is_page()) && theme.post.readingProgress.enable){ %>
      <a class="toc-btn" id="share-btn"><i>
        <svg t="1670124379155" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2683" width="25" height="25"><path d="M395.946667 234.666667v64H256v469.333333h512V522.666667h64V768a64 64 0 0 1-64 64H256a64 64 0 0 1-64-64V298.666667a64 64 0 0 1 64-64h139.946667z m335.850666-87.914667l150.848 150.826667-158.378666 158.4-45.269334-45.248L748.394667 341.333333H672c-121.685333 0-220.714667 97.024-223.914667 217.941334L448 565.333333v85.333334h-64v-85.333334C384 406.272 512.938667 277.333333 672 277.333333h99.861333l-85.312-85.333333 45.248-45.248z" p-id="2684" fill="var(--first-text-color)"></path></svg>
      </i></a>
    <% } %>
    <a href="javascript:window.scrollTo({top:0,behavior:'smooth'});" class="click-btn">
      <i id="i-up"></i>
    </a>
</div>

<!-- SCRIPTS -->

<%- partial('_partial/scripts.ejs') %>
<% if (theme.custom.js){ %>
  <%- js(theme.custom.js) %>
<% } %>
