<%
<!-- 组合页面标题 -->
var joinStr = theme.global.title_join_string
var title = config.title
if (page.title) {
    title = [page.title, title].join(joinStr)
}
%>

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.global.apple_touch_icon) %>">
    <link rel="icon" type="image/png" href="<%- url_for(theme.global.favicon) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <title><%= title %></title>
    <% if (theme.global.force_https) { %>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <% } %>
    <%- css('/css/main.css') %>
    <%- css('/icon/css/all.min.css') %>
    <% if (theme.theme.darkmode){ %>
        <link rel="stylesheet" href="/css/themes/dark.css" media="(prefers-color-scheme: dark)">
    <% } %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <% if(theme.global.font.css){ %>
    <link href="<%- theme.global.font.css %>" rel="stylesheet">
    <% } %>
    <meta name="description" content="<%= config.description %>">
    <meta name="author" content="<%= page.author || config.author %>">
    <meta name="keywords" content="<%= config.keywords %>">

    <style>
        body{
            font-family: <%- theme.global.font.family %>;
        }
    </style>
</head>