<%
<!-- 组合页面标题 -->
var joinStr = theme.global.title_join_string
var title = config.title
if (page.title) {
    title = [page.title, title].join(joinStr)
}
%>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- 引入 CSS 样式文件 -->
    <%- css('/css/dist/main.css') %>
    <%- css('/icon/css/icon.css') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="<%- theme.static_prefix.font %>" rel="stylesheet">
    <style>
        body{
            font-family: <%- theme.global.font_family %>;
        }
    </style>
</head>