<%
var joinStr = theme.global.title_join_string
var title = config.title
if (page.title) {
    title = [page.title, title].join(joinStr)
}
%>

<head>
    <meta charset="UTF-8">
    <% if (theme.global.dns_prefetch){ %>
    <% } %>
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.global.apple_touch_icon) %>">
    <link rel="icon" type="image/png" href="<%- url_for(theme.global.favicon) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <title><%= title %></title>
    <% if (theme.global.force_https) { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <% } %>
    <% if(theme.global.font.css){ %>
    <link href="<%- theme.global.font.css %>" rel="stylesheet">
    <% } %>
    <meta name="description" content="<%= page.excerpt || config.description %>">
    <meta name="author" content="<%= page.author || config.author %>">
    <meta name="keywords" content="<%= config.keywords %>">
    <%- partial('_partial/style.ejs') %>
    

    <% if ((is_post() || is_page()) || page.layout == "category" || page.layout == "archive" || page.layout == "links" || page.layout == "search" || page.layout == "tag" || page.layout == "tags" || page.layout == "talk" || page.layout == "search") { %>
        <!--
        <link rel="stylesheet" href="<%- url_for('/css/page.css') %>" media="print"
            onload="this.media='all';this.onload=null">
        <noscript>-->
            <link rel="stylesheet" href="<%= url_for('/css/page.css') %>">
        <!--</noscript>-->
    <% } %>
    <% if (page.layout == "search") { %>
        <link rel="stylesheet" href="<%= url_for('/css/search.css') %>">
    <% } %>
    <link rel="stylesheet" href="<%- url_for('/css/main.css') %>" media="print" onload="this.media='all';this.onload=null">
    <noscript>
        <link rel="stylesheet" href="<%- url_for('/css/main.css') %>">
    </noscript>

    <%- theme.custom.header_html %>
    <script src="<%- url_for('/js/main.js') %>"></script>
    <% if (theme.global.memorial.enable) { %>
    <script>
        let mdate = "<%- theme.global.memorial.date %>";
        let ndate = new Date();
        if (mdate == (ndate.getMonth()+1) + "-" + (ndate.getDate())) {
            addClass("html", "memorial");
        }
    </script>
    <% } %>
</head>
