<% if(theme.comment.giscus.repoID && theme.comment.giscus.categoryID && theme.comment.giscus.repo){ %>
    <div class="giscus"></div>
    <script src="https://giscus.app/client.js"
        data-repo="<%= theme.comment.giscus.repo %>"
        data-repo-id="<%= theme.comment.giscus.repoID %>"
        data-category="<%= theme.comment.giscus.category %>"
        data-category-id="<%= theme.comment.giscus.categoryID %>"
        data-mapping="<%= theme.comment.giscus.mapping %>"
        data-term="<%= theme.data_term %>"
        data-strict="<%= theme.comment.giscus.strict %>"
        data-reactions-enabled="<%= theme.comment.giscus.reactionsEnabled %>"
        data-emit-metadata="<%= theme.comment.giscus.emitMetadata %>"
        data-input-position="<%= theme.comment.giscus.inputPosition %>"
        data-theme="<%= theme.comment.giscus.theme %>"
        data-lang="<%= theme.comment.giscus.lang %>"
        data-loading="<%= theme.data_loading %>"
        crossorigin="anonymous"
        async>
    </script>
<% } %>