<% if (theme.comment.twikoo.envid){ %>
    <div id="miracle-comments">
        <div id="tcomment">
          <!-- <div style="display: flex;">
            <a href="javascript:loadTwikoo();" id="loadCommentBtn" style="color:var(--first-text-color);border-radius: 5px;background-color:var(--sec-bkg);font-size: 1.1rem;text-decoration: none;border: none;cursor: pointer;    position: relative;vertical-align: baseline;padding: 10px;margin: 0 auto;">加载评论</a>
          </div> -->
          <div style="margin: 0 auto;width: 100%;text-align: center;">
            <div class="donutSpinner" style="margin: auto;width: 25px;height: 25px;"><div></div></div>
          </div>
        </div>
    </div>
    <script>
function loadComment() {
  // <%- theme.static_prefix.twikoo %>twikoo.all.min.js
    try {
      loadScriptFile({
        <% if (theme.comment.twikoo.isVercel == true) { %>
          url: "<%- theme.static_prefix.twikoo %>twikoo.min.js",
        <% } else { %>
          url: "<%- theme.static_prefix.twikoo %>twikoo.all.min.js",
        <% } %>
        loadType: "async",
        cb: () => {
          twikoo.init({
            envId: '<%- theme.comment.twikoo.envid %>',
            el: '#tcomment',
            region: '<%- theme.comment.twikoo.region %>',
            path: '<%- theme.comment.twikoo.path %>'
          });
        }});
    } catch (e) {
      document.getElementById("loadCommentBtn").innerText = "无法加载 Twikoo 评论";
      console.info(e);
    }

}

function loadTwikoo() {
  try {
    loadComment();
  } catch (e) {
    console.log(e);
  }
}

var runningOnBrowser = typeof window !== "undefined";

var isBot = runningOnBrowser && !("onscroll" in window) || typeof navigator !== "undefined" && /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent);

var supportsIntersectionObserver = runningOnBrowser && "IntersectionObserver" in window;

setTimeout(function () {
  if (!isBot && supportsIntersectionObserver) {
    var observer = new IntersectionObserver(function(entries) {
      if (entries[0].isIntersecting) {
        loadTwikoo();
        observer.disconnect();
      }
    }, { threshold: [0] });
    observer.observe(document.getElementById('miracle-comments'));
  } else {
    loadTwikoo();
  }
}, 1);

    </script>
<% } %>
